body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:-22px;
    top:0px;
    width:1360px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:768px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:608px;
    width:1291px;
    height:220px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1297px;
    height:226px;
}

.u3 {
    position:absolute;
    left:2px;
    top:102px;
    width:1287px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:972px;
    top:30px;
    width:185px;
    height:58px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:64px;
}

.u5 {
    position:absolute;
    left:2px;
    top:18px;
    width:181px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:779px;
    top:30px;
    width:173px;
    height:58px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

